<!-- templates/todo_app/todo_list.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>
    <h1>할 일 목록</h1>
    <ul>
        {% for todo in todos %}
            <li>
                {{ todo.title }}
                {% if todo.completed %}
                    (완료)
                {% endif %}
                <a href="{% url 'update_todo' todo.id %}">수정</a>
                <a href="{% url 'delete_todo' todo.id %}">삭제</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_todo' %}">할 일 추가</a>
</body>
</html>
